@page
<div class="container" style="text-align: center">
    <h2>System Starting Up</h2>
    <p>The cloud database is waking up. This can take a few seconds.</p>
    <p>Please refresh the page shortly.</p>

</div>

